<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EAdmission</display-name>
  <welcome-file-list>
    <welcome-file>/pages/index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/university?characterEncoding=UTF-8</param-value>
  </context-param>
  <context-param>
    <param-name>dbUserLogin</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbUserPassword</param-name>
    <param-value>root</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>ToReg</servlet-name>
    <servlet-class>com.erealty.servlet.ToRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToReg</servlet-name>
    <url-pattern>/toregistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.erealty.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllUsers</servlet-name>
    <servlet-class>com.erealty.servlet.AllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllUsers</servlet-name>
    <url-pattern>/allusers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.erealty.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.erealty.servlet.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Specialities</servlet-name>
    <servlet-class>com.erealty.servlet.SpecialitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Specialities</servlet-name>
    <url-pattern>/specialities</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Applicants</servlet-name>
    <servlet-class>com.erealty.servlet.ApplicantsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Applicants</servlet-name>
    <url-pattern>/applicants</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Apply</servlet-name>
    <servlet-class>com.erealty.servlet.ApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Apply</servlet-name>
    <url-pattern>/apply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMark</servlet-name>
    <servlet-class>com.erealty.servlet.AddMarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMark</servlet-name>
    <url-pattern>/addmark</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplicationsProcessor</servlet-name>
    <servlet-class>com.erealty.servlet.ApplicationsProcessorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationsProcessor</servlet-name>
    <url-pattern>/process</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FacebookLogin</servlet-name>
    <servlet-class>com.erealty.servlet.FacebookLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacebookLogin</servlet-name>
    <url-pattern>/flogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSubjectsServlet</servlet-name>
    <servlet-class>com.erealty.servlet.GetSubjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubjectsServlet</servlet-name>
    <url-pattern>/subjects</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.erealty.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/allusers</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>com.erealty.filter.CharsetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>IfAppliedFilter</filter-name>
    <filter-class>com.erealty.filter.IfAppliedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IfAppliedFilter</filter-name>
    <url-pattern>/applicants</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>IfAppliedFilter</filter-name>
    <url-pattern>/apply</url-pattern>
  </filter-mapping>
  <error-page>
    <location>/pages/error.jsp</location>
  </error-page>
  <jsp-config>
    <taglib>
      <taglib-uri>eadmission.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/eadmission.tld</taglib-location>
    </taglib>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
</web-app>